@page
@model IntroWebApp.Pages.Intro
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<section>
    <h3>Minh Tri Le - A00249054</h3>
    <form oninput="output.value=parseInt(numberInput1.value)+parseInt(numberInput2.value)">
        <input type="number" name="numberInput1">
        +<input type="number" name="numberInput2">
        =<output name="output" for="numberInput1 numberInput2"></output>
        <input type="submit" value="Submit">
    </form>
</section>
</body>
</html>