@page
@model IntroWebApp.Pages.Intro
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<section>
    <h3>Minh Tri Le - A00249054</h3>
</section>
</body>
</html>