@page
@model IntroWebApp.Pages.Intro
@{
    Layout = "_Layout";
    ViewData["Title"] = "Intro";
}

<h3>Minh Tri Le - A00249054</h3>
<form oninput="output.value=parseInt(numberInput1.value)+parseInt(numberInput2.value)">
    <input type="number" name="numberInput1">
    +<input type="number" name="numberInput2">
    =<output name="output" for="numberInput1 numberInput2"></output>
    <input type="submit" value="Submit">
</form>

@section NewSection {
     <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid expedita natus nisi recusandae voluptate.
        Illo maiores molestias ratione veniam. Accusamus aliquam asperiores aut autem culpa debitis delectus dignissimos
        distinctio earum eligendi id illum ipsa ipsum itaque iusto laborum, magnam minima nesciunt nihil odio officia
        perferendis possimus ratione rerum tenetur, veniam voluptatem! Ab accusamus alias aliquam animi aperiam at
        consectetur culpa cum debitis deserunt distinctio dolore dolorem earum, eligendi enim eveniet fugiat id
        inventore itaque iure minima mollitia necessitatibus non nulla officiis, provident quibusdam quidem recusandae
        sequi similique suscipit veniam vero voluptatem? Amet aspernatur atque dolore itaque nesciunt praesentium
        quaerat suscipit.
    </p>
}